[2015-12-14 21:38] jeansnkicks opened #1 "Rocket.Chat isn't registered with PM2"
Running the playbook against a minimal, clean Centos 7 VM (CentOS Linux release 7.1.1503 (Core)). Everything succeeds (or appears to) except the task:

TASK: [cmacrae.rocket_chat | Register Rocket.Chat service status] *************
failed: [rc-alpha.greensky.local] => {"changed": false, "cmd": "pm2 show rocket.chat", "delta": "0:00:00.205768", "end": "2015-12-14 10:45:43.195818", "rc": 1, "start":

[2015-12-14 21:47] cmacrae commented on #1
Hey @jeansnkicks - thanks for raising this issue :+1:
Yep, so, as you can see there's the `...ignoring` line, just after the `stderr` output.
This is intentional, it's because the Rocket.Chat application hasn't been registered with PM2 at that point.

This isn't a very good solution and I plan to handle the "error" properly.
I'll keep this issue open until I've addressed this in a better manner, b

[2015-12-15 14:29] cmacrae commented on #1
@jeansnkicks: Well,  c549084 should fix this - I just opted to us `ps` to check the running process instead PM2 - this should solve this problem :+1:

Make sure you grab the role from Galaxy as 'RocketChat.Server'.

I've tested and it works for me, could you let me know how it goes for you?

[2015-12-15 17:36] cmacrae commented on #1
To add to this: I've decided I'm going to support the native service management systems of the supported platforms for this role, rather than using PM2, so, soon you'll be able to handle Rocket.Chat like any other services running on your system(s) :)

[2015-12-15 17:41] jeansnkicks commented on #1
Makes sense about PM2.

I reset the VM and re-ran using the new role. Success, except for a checksum issue with the rocket.chat master package sitting on S3. And for some reason, rocket.chat had to be started (via PM2 restart) - meteor was complaining about the node version, except, it was the correct version. Restart fixed it.

Any reason why you're pulling the package from S3 there and not from

[2015-12-15 17:47] cmacrae commented on #1
@jeansnkicks Yeah, I've literally _just_ updated the hashsum for the master tarball.
The tarball is pulled from S3 because this is now the official deployment method. It means we don't have to build the NPM bundle using Meteor.

That's a bit concerning about having to start Rocket.Chat manually via PM2... I do continuous testing with my changes, on completely fresh systems to ensure no regression

[2015-12-15 18:11] jeansnkicks commented on #1
@cmacrae LOL, re: hashsum. I've got a clean snapshot of the CentOS 7 VM for just this reason. I'll reinstall the role from scratch, run the role again and report back.

[2015-12-15 18:28] cmacrae commented on #1
The hash sum even changed again since my comment on it! Must be some anomalies going on with the stable binary deployment, haha. So, you'll need to make sure you have the latest code again - I wish the Galaxy cli tool had an update/pull feature...

About the re-deployment; nice one. I appreciate it!

[2015-12-15 19:44] jeansnkicks commented on #1
OK, nuts. Moving backwards somehow. Ansible rough output, yml file. No error from PM2, but on the server:

# pm2 list

Is empty. And meteor/rocket chat isn't running.

I'm still learning ansible, is there a debug file I can pull from somewhere? Or that I can for the creation of, if I re-run it?

[rocket_chat.txt](https://github.com/RocketChat/Rocket.Chat.Ansible/files/63117/rocket_chat.txt)
[ansib

[2015-12-15 19:56] jeansnkicks commented on #1
OK, if I force the registration manually:

cd /var/www/rocket.chat
pm2 start pm2-rocket-chat.json --watch

All is good. I expect I could simply re-run the role and get the same result. Not sure why that step is balking on my image the first time around.

[2015-12-15 20:13] cmacrae commented on #1
Hmmm, strange, it seems to skip the startup - I'm just testing this on my CentOS system at the moment, to be sure I didn't introduce any regression with today's commits.

Also, I'm going to get started on systemd support tonight, shouldn't take me long at all, so, perhaps that'll be the saving factor :)

[2015-12-15 20:21] jeansnkicks commented on #1
Sounds good. Happy to test. I'm going to work on a vagrant setup for testing to automate the test process.

[2015-12-15 20:26] cmacrae commented on #1
Awesome :+1:
Right, yep, looks like there's a problem... it skipped for me too!
I'm working on systemd support right now - stay tuned, I'll update when it's ready, which will be at some point in the next few hours :)

[2015-12-15 22:36] cmacrae commented on #1
Well, I'm happy to say, I've written the systemd support, and it works great!
Just got to put together an upstart init script for Ubuntu 14.04, confirm that works, then I'll commit and push

[2015-12-15 22:41] jeansnkicks commented on #1
Sweet! I've managed to cause very bad things to happen in mongo doing functional testing while you were gone. https://github.com/RocketChat/Rocket.Chat/issues/1673

[2015-12-16 00:27] jeansnkicks commented on #1
Cool. I'll be on a bit tonight (US Eastern) to test if you post it in the next few hours.

[2015-12-16 00:35] cmacrae commented on #1
Phew! That was quite the session!
So, 83f52c2 brings native service management :)

I've tested on CentOS 7, Ubuntu 14.04 & 15.04 - all works great for me.
Take it for a spin, let me know how you get on.

[2015-12-16 01:00] jeansnkicks commented on #1
You've done a ton of work today! Impressed for sure. So... first pass, something is failed. Meteor/RC isn't loaded. Systemctl reports:

rocketchat.service                                  loaded failed failed    Rocket.Chat Server

Not sure where it got off the rails - /var/www didn't get created. Unless that changed? Something seems pretty off. I'm going to reset and try again.

[2015-12-16 01:10] jeansnkicks commented on #1
Full reset and re-attempt same result. Somehow rc isn't getting installed at all. I'll start digging through the logs. If there is something specific I should pull first let me know.

[2015-12-16 13:32] cmacrae commented on #1
Yeah, quite a bit of stuff added/shifted around!
Hmm, that's strange, I've been doing fresh deploys on all the supported platforms each time.
Could you check the output of `journalctl -xn` and `systemctl rocketchat status`? It should give some indication as to what the problem was.

Yeah, I moved the `rocket_chat_application_path` to `/var/lib/rocket.chat/`.

With your Ansible runs, are there any

[2015-12-16 13:56] jeansnkicks commented on #1
No failing tasks, which I thought off. Systemctl:

rocketchat.service - Rocket.Chat Server
   Loaded: loaded (/usr/lib/systemd/system/rocketchat.service; enabled)
   Active: failed (Result: start-limit) since Tue 2015-12-15 20:06:41 EST; 28min ago
 Main PID: 4774 (code=exited, status=1/FAILURE)
   CGroup: /system.slice/rocketchat.service

journalctl -xn has nothing helpful (success or error).

Nod

[2015-12-16 13:58] cmacrae commented on #1
Weird, could you show me the contents of the `/usr/lib/systemd/system/rocketchat.service` file?

[2015-12-16 14:56] jeansnkicks commented on #1
[Unit]
Description=Rocket.Chat Server
After=syslog.target
After=network.target

[Service]
Type=simple
Restart=always
StandardOutput=syslog
SyslogIdentifier=RocketChat
User=rocketchat
Group=rocketchat
Environment=MONGO_URL=mongodb://127.0.0.1:27017/rocketchat
Environment=MONGO_OPLOG_URL=mongodb://127.0.0.1:27017/local
Environment=ROOT_URL=http://localhost.localdomain
Environment=PORT=3000
WorkingDi

[2015-12-16 15:12] jeansnkicks commented on #1
It's definitely a node setup issue. From /var/log/messages:

`Dec 16 10:02:54 localhost RocketChat: Meteor requires Node v0.10.40 or later.`

And `# node --version
v0.10.36`

If I try to force nave:

    # nave usemain 0.10.40
    curl: (22) The requested URL returned error: 404 Not Found
    ######################################################################## 100.0%
    installed from binary

[2015-12-16 15:14] cmacrae commented on #1
Alright, nice one for narrowing it down.
I'm getting a Vagrant environment set up for testing. I've been using LX branded zones under SmartOS so far for testing, so perhaps there's some inconcistencies.

[2015-12-16 17:21] cmacrae commented on #1
Right, I think I've found the problem!
Nave is placing the desired version of the node binary in `/usr/local/bin/node` - this actually makes things a bit easier, because this seems to be commonplace across all distros :)

I'll implement a change, test it, then push.
Thanks for helping me track this down! :+1:

[2015-12-16 17:48] cmacrae commented on #1
Right, 2006cfe should fix this! Try it out :)

[2015-12-16 19:08] jeansnkicks commented on #1
Rock and roll! It's fixed! You're the man. I'm closing this issue.

[2015-12-16 19:08] #1 closed

[2015-12-16 19:21] cmacrae commented on #1
Eyyyy, good to hear! Thanks for the help with the investigation :)
Don't hesitate to raise any other issues in the future regarding any problems or even any thoughts or general opinions

[2015-12-29 11:26] BackIsBachus opened #2 "ERROR: become_user is not a legal parameter in an Ansible task or handler"
Hello,

I tried to deploy RocketChat on Debian Jessie using Ansible but when I run my playbook (which is the one used in your README) I get the following output:
[code]
I am trying to install it on localhost (since it's just as a test), and I already managed to run a few simple playbooks on localhost before.
I have installed Ansible from the deb package manager so I am in 1.7.2 (I am quite new to

[2015-12-29 12:11] cmacrae commented on #2
Hey! Thanks for taking the time to raise this issue.
The reason you're seeing this problem is because your Ansible version is too old.
The `become` module was [introduced in Ansible 1.9.4](http://docs.ansible.com/ansible/become.html) - which is the version you should be running.

See [Ansible's installation documentation](http://docs.ansible.com/ansible/intro_installation.html) to get 1.9.4 instal

[2015-12-29 12:11] #2 closed

[2016-01-05 14:33] infinitnet opened #3 "ERROR: file could not read: [...]upgrade.yml"
It seems like upgrade.yml is referenced in `./roles/RocketChat.Server/main.yml` via `include` but the file is missing from the playbook. This results in:

[code]

[2016-01-05 14:47] cmacrae commented on #3
Have you modified any of the code at all?
This is a feature that is currently disabled by commenting it out, as you'll see [here on line 92 of `main.yml`](https://github.com/RocketChat/Rocket.Chat.Ansible/blob/master/tasks/main.yml#L92).

I'm awaiting the official release of Ansible 2.0, after which this will be enabled.

As far as I can tell, there should be no instance in which Ansible attempts

[2016-01-05 14:48] infinitnet opened #4 "AttributeError: 'list' object has no attribute 'split'"
Trying on a fresh CentOS 7 system, but no luck so far. `upgrade.yml` is missing from this repo but included via main.yml and after removing the `include` of that missing YAML I get this:

[code]

[2016-01-05 14:51] infinitnet commented on #3
Thanks for your response. I'm using 1.9.4 from EPEL and no, I didn't modify any of the code, just had galaxy pull it. You can see the reference to the missing file here in this github repo as well (https://github.com/RocketChat/Rocket.Chat.Ansible/blob/master/handlers/main.yml#L10 to be specific). I did comment out that `include`, however I don't seem to have much luck as I'm running into more iss

[2016-01-05 14:55] cmacrae commented on #3
No problem :+1:

I'm not sure what you mean by "missing file", `upgrade.yml` is certainly there:
https://github.com/RocketChat/Rocket.Chat.Ansible/blob/master/tasks/upgrade.yml

I'm really not sure what could be causing this, I'm afraid, but - let me try to replicate this

[2016-01-05 14:58] infinitnet commented on #3
You're getting the path wrong. ./tasks/upgrade.yml might be there, but the file that's called by the include in main.yml is ./handlers/upgrade.yml and that file is missing. :wink:

[2016-01-05 14:58] cmacrae commented on #4
Hey @infinitnet - as mentioned on #3: `upgrade.yml` is certainly not missing: https://github.com/RocketChat/Rocket.Chat.Ansible/blob/master/tasks/upgrade.yml

It is also not included by `main.yml` because the `notify` param on the task which informs the role an upgrade is needed is commented out. I don't see how a change in that task would notify the respective handler if the code is not actually

[2016-01-05 14:59] cmacrae commented on #3
No, I'm not getting the path wrong - `upgrade.yml` is what gets included, this has been thoroughly tested.

[2016-01-05 15:02] infinitnet commented on #3
In line 10 in this file (https://github.com/RocketChat/Rocket.Chat.Ansible/blob/master/handlers/main.yml#L10) you include upgrade.yml from the same directory, which is `handlers`, not `tasks` (the latter has the upgrade.yml file in it, the former doesn't). Not sure how else to explain this. You can replicate it by just following the steps one by one on a CentOS 7 system: https://github.com/RocketC

[2016-01-05 15:04] cmacrae commented on #3
I understand exactly what you're saying, and I'm telling you: even when using `include: upgrade.yml` in `handlers/main.yml`, `tasks/upgrade.yml` is what is included. Like I said: this has been thoroughly tested.

I'm testing now with Ansible 1.9.4 to see if this is where the problem has been introduced.

[2016-01-05 15:06] cmacrae commented on #3
Yep, looks like it's simply differing Ansible versions.
The assessment of `include` paths must have been changed when they fixed the bug in 2.0:
[code]

Thank you for bringing this to my attention :+1: I'll update you once this has been fixed.

[2016-01-05 15:08] infinitnet commented on #3
Alright I see, not sure what causes this then. If you test this on CentOS 7 just following the steps from the wiki documentation I mentioned in my last response, I'm pretty sure you should be able to replicate this, because I didn't modify anything and am using a fresh and minimal EL7.

PS: Ok you were faster than me. :) Thanks for the extraordinary fast support by the way.

[2016-01-05 15:13] infinitnet commented on #4
Should be related to #3, closing this one for now and will re-open it if it turns out otherwise.

[2016-01-05 15:13] #4 closed

[2016-01-05 15:14] cmacrae commented on #3
You're very welcome :) Thank you for raising this issue! I've been blissfully operating on Ansible release candidates... so, it's good someone gave me a poke about this.

I've already found that creating a "dummy" `handlers/upgrade.yml` file will circumvent this problem - but I want to address the other issues present with this role on 1.9.4 before closing this off.

[2016-01-05 15:40] cmacrae commented on #4
Yep, got this fixed :+1: I'll mention this in #3

[2016-01-05 15:40] cmacrae commented on #3
Right, I've just pushed the fixes. Wanna grab the latest copy and give it a try?

[2016-01-05 15:46] infinitnet commented on #3
Yeah, seems to be doing its work now and the other issue is gone as well. Thanks a lot for taking care of this so quickly! I sent you a small contribution via email as a thank you. Have a nice evening, I'm closing this.

[2016-01-05 15:46] #3 closed

[2016-01-05 15:51] cmacrae commented on #3
Great, glad to hear it's working! No problem at all - my thanks to you, also; as I wouldn't have come across this :)

Nice one, I'll check it out now

[2016-01-05 20:49] taybin opened #5 "selinux and nginx issue on centos 7"
On Centos7, I had to run these commands for nginx to successfully proxy to port 3000

sudo cat /var/log/audit/audit.log | grep nginx | grep denied | sudo audit2allow -M mynginx
sudo semodule -i mynginx.pp

I learned this from http://stackoverflow.com/questions/23948527/13-permission-denied-while-connecting-to-upstreamnginx

It'd be nice to add this to the ansible configuration.

[2016-01-05 21:59] cmacrae commented on #5
Hey @taybin - thanks for raising this.
I'm afraid I consider this an edge case and would like to keep such steps outside of this Ansible role.

The nginx component of this role is intended as a simplistic, minimal implementation for ease of access.
If finer grained control of nginx, or surrounding software that may impact its ability to function is required, one can opt to not include nginx via th

[2016-01-05 23:33] geekgonecrazy commented on #5
@cmacrae I'm not super familiar with ansible.  Is this something that could be optionally specified and they would have to intentionally invoke?

Or maybe we could just include this as a note in the documentation around the ansible playbook.  That might be better.

[2016-01-05 23:47] cmacrae commented on #5
@geekgonecrazy Yeah, possibly. Could add it to the documentation I suppose. The thing is, this is just more specific to nginx, is all, and this isn't an nginx role.

[2016-01-06 02:28] taybin commented on #5
I understand not wanting to add it to the script, but the docs make the current ansible installer sound very hands off.  I was very confused for a while about why my setup just wasn't working.  Maybe a mention in a FAQ or troubleshooting section?

[2016-01-06 10:11] cmacrae commented on #5
@taybin Yep, I definitely agree - I'll review this today at some point and add it to the documentation. As such, I'm re-opening this issue and will resolve it once it's been added.

[2016-01-06 18:02] #5 closed

[2016-01-06 18:03] cmacrae commented on #5
@taybin There ya go :) 1a7788d should fix this - wanna give it a try?

[2016-01-06 18:16] taybin commented on #5
Works for me, and is shorter and sweeter than the audit2allow hack above.  Thanks!

[2016-01-06 21:01] cmacrae commented on #5
No problem :) Glad it's working

[2016-01-07 13:53] taybin opened #6 "optional smtp server installation?"
Does it make sense to include an optional smtp server to prevent issues like https://github.com/RocketChat/Rocket.Chat/issues/766 from happening?

[2016-01-07 14:48] cmacrae commented on #6
Hey again @taybin :)

This is out of the scope of this role's intended functionality.
Ansible roles are something that users can, and are urged to, couple together.

Providing the ability to provision an SMTP server using this role would be something I'd consider irresponsible on my part as it's not encompassed in what I would consider Rocket.Chat's bare minimum requirements.

Those using this rol

[2016-01-07 14:48] #6 closed

[2016-01-13 18:29] taybin opened #7 "upgrade task needs to restart the rocketchat service"
I had to login and manually restart the service or it continued to serve the old website.

[2016-01-13 18:59] cmacrae commented on #7
Hey @taybin, thanks for bringing this to my attention :) I'll have this fixed shortly, in fact I've written the code already, just gotta do some testing.

[2016-01-13 20:21] cmacrae commented on #7
@taybin: Well, that fixes it :+1: Thanks for this!

[2016-01-13 20:21] #7 closed

[2016-01-25 17:39] gneutzling commented on #2
I had this problema and I did an upgrade to `ansible 1.9.2` with using homebrew and worked fine.

[2016-01-25 18:36] cmacrae commented on #2
@gneutzling Ansible 1.9.4 is still the minimum version required to run the Ansible 1 version of this code.

[2016-02-10 11:25] nikksno opened #8 "Installation behind corporate proxy"
The `rocket_chat_mongodb_keyserver` variable specified in `RocketChat.Server/defaults/main.yml` is:
`keyserver.ubuntu.com`
However this causes the installation to fail if a proxy is blocking outbound traffic on certain ports. A working solution is to change the var to:
`hkp://keyserver.ubuntu.com:80`
I can't say for sure this is the best solution but it definitely works.
Thanks for looking into th

[2016-02-10 11:33] nikksno opened #9 "sha256sum incorrect"
I'm not sure if I did anything wrong but upon installation the sha256sum verification fails as the file's checksum is different than the one specified in the var `rocket_chat_tarball_sha256sum` inside `RocketChat.Server/defaults/main.yml`. This is the error message:

```The checksum for /var/lib/rocket.chat/rocket.chat-latest.tgz did not match 99415e9c7304444dc35895623e58efa066ec83ab9d2b85aec0d50c

[2016-02-10 11:34] cmacrae commented on #8
Hey @nikksno, thanks for raising this.

Okay, cool - I can take a look at setting this as the default, makes sense really - if it works in both cases (behind a proxy/not behind a proxy).

I can't imagine why it would, but if this introduces problems with the standard deployment (not behind a proxy), this can easily be overridden, either in the playbook or inventory :+1:

I'll test it out in a few

[2016-02-10 11:36] nikksno commented on #8
Nice thanks! First issue ever opened I'm glad it makes sense :)

[2016-02-10 11:40] cmacrae commented on #9
Hi again @nikksno :wave:

Yep, it's a hardcoded value - I have to manually update it between releases, then users either have to pull down the latest code (`ansible-galaxy install -f -r path/to/requirements.yml`) or override the default value in their playbook/inventory.

The latest has been updated to the hash sum above (`55c61b05c1f0bd3190328a721da303bc75b8fb313f7de4c54a77cae37ff6760b`), so if y

[2016-02-10 11:40] #9 closed

[2016-02-10 11:43] nikksno commented on #9
Ok perfect thanks for the confirmation!

[2016-02-10 11:57] cmacrae commented on #8
Yep, all looks well - this has been updated in 4df249d, thanks! :)

[2016-02-10 11:57] #8 closed

[2016-02-10 11:59] nikksno commented on #8
Awesome thank you!

[2016-02-10 12:00] cmacrae commented on #8
No problem @nikksno, thanks again for the contribution - if you have any others, please don't hesitate to let me know!

[2016-02-15 16:26] brylie opened #10 "Checksum error during "Fetch the Rocket.Chat binary tarball""
While running the RocketChat Ansible installation, I get the following error:

[code]

[2016-02-15 16:27] brylie opened #11 "Ubuntu 14 upstart service lacks permission to write to pid-file"
On a fresh installation, via the Ansible option, we get a 502 Bad Gateway error from nginx. The Ansible script reports that all steps were successful:

[code]
How can we make sure the Rocket.Chat instance is running for the nginx proxy?

[2016-02-15 16:36] cmacrae commented on #10
The new defaults have now been updated to use the latest hash sum.
Please update the role to the latest (`ansible-galaxy install -f -r path/to/requirements.yml`, if you're using Ansible Galaxy).

[2016-02-15 16:36] #10 closed

[2016-02-15 16:37] cmacrae commented on #11
Please try to provide more information regarding the system you're running.

- Ensure the `rocketchat` service is running
- Check the Nginx access/error logs for any significant messages
- Ensure all role variables pertaining to the URL by which you access the site have been set correctly

[2016-02-15 16:42] brylie commented on #11
OK, thanks. I will follow up tomorrow at work.

[2016-02-15 16:42] cmacrae commented on #11
:+1:

[2016-02-17 21:23] max-b opened #12 "Checksum did not match"
[code]

It was easy enough to change the `rocket_chat_tarball_sha256sum` variable in my inventory, but I just thought you all would want to know that the default no longer matches.

[2016-02-17 21:34] cmacrae commented on #12
Thanks @max-b - yeah, this is a manual process I have to keep up with at the moment.
I'll put an FAQ up, or something in the README.

[2016-02-17 21:34] #12 closed

[2016-02-17 21:34] max-b commented on #12
Nice - thanks a bunch :)

[2016-02-17 22:15] cmacrae commented on #12
No problem at all, thanks for taking the time to bring this to my attention :+1:

[2016-02-18 17:08] nikksno commented on #11
Hi! I had the same problem the other day on my Ubuntu 14 VM and was about to open an issue myself. RC was actually working until I first rebooted. Then after reboot it wasn't. The RC service was not running. I tried `sudo service rocketchat start` but although the feedback from the command was normal it didn't actually start. From the log [`cat /var/log/rocketchat.log`] I got:
[code]
So after some

[2016-02-18 17:19] cmacrae commented on #11
Hey @nikksno - thanks for joining in. Ah! Oh dear, alright, thanks for the details - that's something I'll have to look into. Yes, that sounds like a good fix, I'll just need to implement the creation of this file in the init script :+1:

I'll get onto this when I can (hopefully this evening).

[2016-02-18 23:16] BackIsBachus opened #13 "ERROR! failed to combine variables, expected dicts"
Hello,

I'm trying to run this role on Debian 8 (I already tried it on Ubuntu 15.04 and it worked) with Ansible 2.1.0 and I am using the v2.0 of this role.
During the installation of MongoDB (I think) I get the following error:

[code]

The role I execute is:
[code]

Thanks!

[2016-02-19 11:28] cmacrae commented on #13
Hi @BackIsBachus - hmm, okay. I haven't tested with 2.1.0, and don't currently support it, as it hasn't been released. However, as far as I know, it should just work.

I'll try and get around to some testing today.

[2016-02-19 11:29] BackIsBachus commented on #13
I'll try to test it with 2.0 and come back to you as well.

[2016-02-23 09:51] cmacrae commented on #13
@BackIsBachus Any luck testing?

[2016-02-23 09:56] BackIsBachus commented on #13
Yeah (sorry I forgot to report it back here ^^), I don't have thoses errors when I switch to the stable-2.0.0 branch of Ansible, But I have a bunch of other errors (that I forgot to copy-paste so I'll get right back at testing).
That's really weird because I already did an install that went smoothly on Ubuntuu 15.04, but I still can't make it work on Debian 8.

[2016-02-23 09:59] cmacrae commented on #13
@BackIsBachus No problem! Hmm, okay - I suspect the above issue mentioned is introduced by Ansible 2.1, which isn't supported at the moment.

Though... that's very strange regarding Debian 8 - I do vagrant tests often and haven't run into any failures on fresh Debian 8 systems. Have you ensured you've got the latest code?

[2016-04-10 21:47] vialcollet opened #17 "Manage SSL Certificates with Let's Encrypt"
Hi and thanks a lot for this great role.
I have manage to handle let's encrypt. I am a beginner with Ansible so let me know what you think of the approach and I can submit a pull request if you want.
The main issue is that we need a valid nginx configuration (with valid certificates) in order to use the webroot validation.

My approach is the following (we should add a variable to activate this):

[2016-04-11 08:12] cmacrae commented on #17
Hi again @vialcollet :wave:

Awesome, this is good to hear - this is something I've been wanting to implement for a while.
I should get some time to go over this properly today, bit busy at the moment, but I have some initial thoughts about this:

Due to the flexibility of the role, and the different services it deploys, it cannot depend on other roles.
So far, I've written it in such a way that i

[2016-04-13 11:37] vialcollet commented on #17
Hi @cmacrae

I really like your approach. I know there is a lot of debate around whether ansible roles should be highly specialized on a services or cover a full solution. In the case of Let's Encrypt you might also want to setup a cron job for the renewal.
My (recent) experience on this is related to... sensu stack installation :) And I have to say that the work you have done in this area is abso

[2016-04-14 19:52] jeffcpullen opened #18 "First admin registration fails with 'Invalid Domain'"
Running this role on a fresh CentOS 7 minimal installation completes without issue, but fails to allow the first user to register. It hangs for a a few minutes then briefly flashes a red box that says 'Invalid Domain'. I've started from scratch twice and seen this both times.

Some facts about the system.
- DNS is properly configured
- SELinux is in permissive mode
- Playbook run as root
- Postfix

[2016-04-14 21:10] Sing-Li commented on #18
This is not an Ansible specific problem.   It is a problem introduced with a recent new feature in core.

Please track RocketChat/Rocket.Chat#2895 for resolution.

[2016-04-14 21:20] cmacrae commented on #18
@Sing-Li: thanks for the clarification 👍🏻

[2016-04-14 21:20] #18 closed

[2016-04-18 22:00] cmacrae commented on #13
Closing, as I haven't encountered this in any of my continuous tests

[2016-04-18 22:00] #13 closed

[2016-04-18 22:01] cmacrae commented on #17
Hey @vialcollet - thanks so much for your response. That's great to hear about your explorations into my Sensu role. I definitely agree this is a good approach.

I've got a very busy schedule at the moment, but I'm hoping I may get some time to implement this either this week, or the next - so just hang in there :+1:

[2016-04-22 17:59] codyaray opened #19 "Issue with Installing Node.js"
Followed the instructions on the docs for [installation using ansible](https://rocket.chat/docs/master/installing-and-updating/deployment-options/ansible).

[code]

Ran

[code]

But failed at this error:

[code]

I tried logging in to see if `n` is actually available, but I can only test it as myself since `rocketchat` user is setup without a shell. Even running as myself, it seems like `n` is ins

[2016-04-22 18:52] codyaray commented on #19
Simple workaround:

on the rocketchat box, run

[code]

Now I'm getting

[code]

[2016-04-23 13:43] cmacrae commented on #19
Hi @codyaray - thanks for raising this.
So, there must be something going on with your user set-up. I see you're using `become: true` in your playbook.

The installation of the required Node version, via `n` is performed as the `root` user, so your workaround stated above should be exactly what's happening anyway.

On your latte point, concerning the tarball, please see the FAQ section in the READ

[2016-04-25 15:11] codyaray commented on #19
Okay, I'll do a fresh install and send the full output. The OS is

    lsb_release -a
    Distributor ID:	Ubuntu
    Description:	Ubuntu 14.04.3 LTS
    Release:	14.04
    Codename:	trusty

I was able to work around the sha256 issue by running

    ansible-playbook -i inventory rocket_chat.yml -e rocket_chat_tarball_sha256sum=b4c0cfaf24ff29a204e5f0eb6bc8866367171e478b872c7662ea9055bef5f804

Howeve

[2016-04-25 15:27] cmacrae commented on #19
I've just tested this in the Ubuntu 14.04 Vagrant instace with no problems. This must be something to do with your OS or networking environment.

Make sure the system you're deploying to can definitely reach the NPM registery (registry.npmjs.org) and GitHub via ports 443 and 80

It also seems to be complaining about the absence of a `node` binary, but that shouldn't be the case.

Was this on a com

[2016-04-25 15:30] codyaray commented on #19
Okay, just tested on a completely fresh VM that I provisioned this morning in our VMware cluster. The only thing I did was add my public key to authorized_keys on the remote host and updated it so I could run passwordless sudo. (Then changed the ansible inventory file to point to the new host.)

[code]

[2016-04-25 15:35] codyaray commented on #19
Does this require SSH access to github or only HTTPS? If SSH, that could be a problem. I'm in a corporate environment so its pretty locked down.

Looks like I can access both npm registry and github fine over HTTP/HTTPS from the new VM.

[code]

[code]

[2016-04-25 15:48] cmacrae commented on #19
Nope, just HTTP/HTTPS access is necessary.

Alright, so it looks like it's failing to install NodeJS 0.10.40 via `n`.
Could you please check (as the `root` user, as `root` should be executing the tasks, because you're using `become: true`) if `which n` returns a path to the `n` binary? It should be in `/usr/local/bin` - if it does not find that, could you check if `/usr/local/bin` is in your `$PAT

[2016-04-25 15:54] codyaray commented on #19
Looks like it finds `n` when running as root.

[code]

I only have `become: true` there because that's what the docs said to do. Should I remove it?

[2016-04-25 15:55] cmacrae commented on #19
Sure, try without it, I can't imagine why it's not able to find the `n` executable...

[2016-04-25 16:21] codyaray commented on #19
Hm, looks like I might have hit an error and added it myself early on in the process. Looks like I added it to workaround some permissions issue.

Okay, removed it and tried again. When running against the original box without `become: yes`, this is what I get:

[code]

Trying against the fresh box from this morning. Now I'm getting a permissions issue.

[code]

PS - Thanks for your super-responsi

[2016-04-25 16:23] codyaray commented on #19
For what its worth, I've added

    cray                      ALL                                 = NOPASSWD: ALL

to `/etc/sudoers` on both boxes. Is there something else that Ansible would require? (I haven't really used Ansible much.)

[2016-04-25 16:27] cmacrae commented on #19
No probelm :+1:

Hmm, okay, so you're SSH'ing as the user `cray`? I wasn't aware of that previously.
Are there any restrictions in place to stop you SSH'ing as `root`?

In any case, the `become: true` should just work and execute tasks as the `root` user.
Perhaps it's worth a shot trying to be explicit and using the following in your playbook:
[code]

[2016-04-25 16:42] codyaray commented on #19
Doesn't ansible default to SSH as the current user (which is cray)?

[2016-04-25 16:44] cmacrae commented on #19
It depends what you have in your `ansible.cfg` or just `ansible_ssh_user` specified by any means of setting variable values (inventory, playbook, on the command line via `-e ansible_ssh_user=someuser`, etc).

[2016-04-25 16:50] codyaray commented on #19
Even with

[code]

Looks like I still get the same issues. :(

On the fresh box:

[code]

On the original (where I manually installed `n`):

[code]

[2016-04-25 16:59] codyaray commented on #19
Tried SSH'ing as root (after adding my pub key to root's authorized_keys)

[code]

The fresh node managed to `Install the 0.10.40 NodeJS environment via n`. Now both nodes are failing at the `Install Rocket.Chat via NPM` task.

[2016-04-26 17:42] codyaray commented on #19
This symlink fixes it. What I can't figure out is why running `node` works as both myself and root, but doesn't when ran by `n`.

[code]

(Figured this out just doing the manual install as documented [here](https://rocket.chat/docs/master/installing-and-updating/deployment-options/ubuntu) and [here](https://www.digitalocean.com/community/tutorials/how-to-install-configure-and-deploy-rocket-chat-on

[2016-04-28 08:17] BackIsBachus opened #20 "Not deleting tarball prevent from updating"
Hey,

I stumbled across a weird situation while trying to update from 0.26.0 to 0.27.0 and to 0.28.0: the role did not download the latest tarball because `rocket.chat-latest.tgz` was already present in the Rocket.Chat install directory (`/var/lib/rocket.chat/` by default here in my situation).

So since the latest tarball was not download the role only reapplied the last update it downloaded (0.2

[2016-04-29 15:24] cmacrae commented on #20
Did you update the `rocket_chat_tarball_sha256sum` to reflect the associated hashsums?
The way this process works is, Ansible fetches the tarball for whichever version you're using, then does a comparison of the hash sums to see if it has changed. If it does change (so, after an updated tarball is released) and you have the correct hash sum defined, that triggers the upgrade process.

The upgrade

[2016-04-29 16:04] BackIsBachus commented on #20
I didn't update the `rocket_chat_tarball_sha256sum` before running the update because I don't know where to find the hash before trying to install it (except by downloading the tarball manually and hashing it myself).

So for my setup I had the hash of the 0.26.0 in the `rocket_chat_tarball_sha256sum` but I was tracking the version `latest` (by using the default value or manually adding it) and in

[2016-04-29 16:18] cmacrae commented on #20
The intention of using `latest` as your `rocket_chat_version` is that you will track the latest releases of Rocket.Chat.
It works like so:
- The team release a new version available at the `latest` link (https://rocket.chat/releases/latest/download)
- When running this role, Ansible will look at the `rocket.chat-latest.tgz` it has on the filesystem and compare its hash sum with `rocket_chat_tarbal

[2016-04-29 16:36] cmacrae commented on #20
Probably worth mentioning that althought I've used `latest` as an example above, it works the same for upgrading via specific versions, or from specific versions to `latest`.

You could have the following set-up:
[code]

And then upgrade to 0.28.0 by simply changing them to:
[code]

Or jump up to `latest:
[code]

[2016-04-29 17:22] BackIsBachus commented on #20
Thank you for the detailed answer. I will script the hash part from now on!

[2016-04-29 17:22] #20 closed

[2016-04-29 18:53] cmacrae commented on #20
You're welcome 🙂 Don't hesitate to ask any further questions if need be!

[2016-05-16 15:35] xenithorb opened #23 "Task: "Ensure MongoDB Server is present" fails without root"
[code]
[code]

This is a default CentOS 7.2 install being controlled by Ansible 2.0.2 from Fedora 23.

The `centos` user by default has unabated `sudo` privileges.

Additionally, adding `become: yes` to rocket_chat.yml does not help.

I am following the instructions from: https://rocket.chat/docs/installation/automation-tools/ansible/

[2016-05-16 15:43] cmacrae commented on #23
Hmm, that's an interesting one.

Have you tried setting both the following in your playbook?
[code]

Or tried applying them to the role:
[code]

[2016-05-16 16:00] xenithorb commented on #23
Very strange....

I added your suggestions and it began to work, and I could see BECOME-SUCCESS in the output.

Even when I revert back to what I was using previously, it still gets BECOME-SUCCESS. So, I have no idea what's going on.

I took a snapshot right before I deployed this so I'll try and replicate.

[2016-06-01 14:14] JakeDEvans opened #24 "v32 support"
Please update the hash and ensure this works with v32 unless there is another process for updating rc servers?

also do these updates get pushed to ansible galaxy?

[2016-06-01 14:18] cmacrae commented on #24
Please read the FAQ before raising issues. Your first question is addressed there.

To answer your second: yes. Ansible Galaxy grabs code from GitHub by default unless otherwise configured

[2016-06-01 14:18] #24 closed

[2016-06-16 16:57] rwarsing opened #25 "Upgrade fails when latest download already exists"
Upgrading will fail if the 'rocket.chat-0.X.0.tgz' file has been previously downloaded but not applied.

[2016-06-20 18:01] cmacrae commented on #25
I'm away on holiday at the moment. I'll take a look at fixing this when I'm back home.

[2016-06-23 15:40] jlgore commented on #25
I'm also noticing this, but also noticing if I remove the tarball the playbook fails w/this:

[code]

[2016-07-08 12:24] PeterMosmans commented on #25
The Upgrade Rocket.Chat handler seems to be b0rked if no previous version has been installed.
Quick and dirty hack for the above problem: Remark line 96 of `tasks/main.yml` (notify: Upgrade Rocket.Chat)

[2016-07-08 16:11] jlgore commented on #25
I've been able to update this particular instance a few times before, but for some reason I can't move this install past 0.33.0 at all. I tried commenting out line 96 like you mentioned but it still doesn't upgrade. It will fetch the 0.35.0 tgz just fine, but skips the unpacking stage.

`TASK [RocketChat.Server : Fetch the Rocket.Chat binary tarball] ****************
changed: [rc.shifthosting.dc.n

[2016-08-03 20:44] xenithorb commented on #25
#26 fixes this

[2016-08-14 19:31] xenithorb commented on #23
I could never replicate this, and I think it was likely due to a bug in ansible at the time / and/or the way I was invoking the role. I'll close this myself and re-open it again if I come across it during further testing.

[2016-08-14 19:31] #23 closed

[2016-08-26 20:32] jlgore commented on #25
Hi @xenithorb I downloaded the latest from Galaxy and ran it on my instance that won't update. I get this when I run the playbook now:

`TASK [RocketChat.Server : Fetch the Rocket.Chat binary tarball] ****************
ERROR! The requested handler 'Upgrade Rocket.Chat' was not found in any of the known handlers`

Any ideas? Thanks!

[2016-08-26 20:41] xenithorb commented on #25
That's a separate issue and it should have been fixed by: https://github.com/RocketChat/Rocket.Chat.Ansible/commit/fd90707b12e7a1a0868a50e971f00194c87e3547

Don't forget that if you've pinned the version, you need to move that in your own playbook - i.e. `v2.0` should now be `v2.1.1`

If you want the latest version each time, use the `master` branch now, as I rebased that against v2.0 a few days a

[2016-08-26 20:43] xenithorb commented on #25
Additionally, a great way of checking on the version is looking at: https://galaxy.ansible.com/RocketChat/Server/ the most recent tag will be at the top

[2016-08-26 20:58] jlgore commented on #25
THANK YOU SO MUCH. My hero. When I get paid I'm donating to the project again, you guys are doing the work!

[2016-08-26 21:00] xenithorb commented on #25
Going to merge #28 once the build completes (silly to have to do that for README but it is what it is), hopefully that helps with some confusion.

[2016-08-28 02:28] nate8199 opened #29 "checksum mismatch on Rocket.Chat binary tarball"
not sure what I should do about this one

`TASK [RocketChat.Server : Fetch the Rocket.Chat binary tarball] ****************
fatal: [rocket]: FAILED! => {"changed": false, "failed": true, "msg": "The checksum for /var/lib/rocket.chat/rocket.chat-latest.tgz did not match 024671fabd9dce34149affe27b0e20e967a7209e94358e5771ae81d2a9a5f477; it was e001895f4319f34b0bc6d68af03ced3ac32a6715d98ffcab88f7d89b4

[2016-08-28 09:34] xenithorb commented on #29
Firstly, please understand that the idea here is to maintain the integrity and security of the upgrade by cryptographically ensuring that the hash of what the playbook expects, matches what it downloads.

The "ansible way" for dealing with playbook versions is to do something called _version pinning_, which basically means that if you ask for `version: v2.0`  you get exactly the same version (of c

[2016-08-28 09:48] xenithorb commented on #19
I'm closing this issue because there's been a decent amount of time passed and I have setup build testing with Travis-CI and also I have never seen this in manual testing across multiple distributions with Vagrant, nor have I on my person systems either (but I use CentOS)

[2016-08-28 09:48] #19 closed

[2016-08-28 15:49] xenithorb commented on #29
I intend on leaving this open for a bit with the question tag until I get the time to do some wiki posts or better the README

[2016-08-28 16:03] #11 closed

[2016-08-31 08:47] nikksno commented on #11
Ok good work there happy to help :)

[2016-09-14 22:38] xenithorb commented on #25
OK. So the situation has changed here a bit, there are now three possible states (as soon as the builds pass and I get 5e11c0a  and  bcc487c merged into master)

1.  With "new feature" `rocket_chat_tarball_check_checksum == false` the checksum is `omit`ted AND the `force:` parameter to `get_url` is set to `yes`, AND the result is always changed alert the following task that checks for `result|chan

[2016-09-14 23:22] #25 closed

[2016-09-18 20:20] geekgonecrazy opened #33 "Up coming Rocket.Chat node.js version upgrade."
0.40.0 will be landing soon, and with it will come a dependency shift from Node.js 0.10.4x to Node.js 4.5

[2016-09-18 20:26] xenithorb commented on #33
Thanks for the heads up!

[2016-09-18 22:30] geekgonecrazy commented on #33
@xenithorb sure thing!  Hit me as I was prepping documentation upgrades.  Let me know if you need anything to assist with this

[2016-09-21 17:33] rwarsing commented on #33
Upgraded to v40 & rocketchat failed to start.  Upgraded node to v4.5.0 - didn't fix.  Anything else to try?

[2016-09-21 18:20] rwarsing commented on #33
Bandaid, install node 4.5, change the below variable & re-run.
1.) sudo n 4.5
2.) rocket_chat_node_10_40_path: /usr/local/n/versions/node/4.5.0/bin

[2016-09-21 18:21] xenithorb commented on #33
Yes, I'm working on this now. Will close the ticket when complete.

[2016-09-21 20:18] #33 closed

[2016-09-25 18:18] xenithorb commented on #17
@vialcollet

This was always a "Rocket.Chat in a box" as far as I'm concerned, so I don't see any issues with implementing here. I think I'll work on this soon

[2016-09-26 01:07] xenithorb commented on #17
Anyone want to give https://github.com/RocketChat/Rocket.Chat.Ansible/tree/letsencrypt a shot?

[2017-02-08 12:41] k-c-p opened #35 "Add localhost binding in /etc/hosts"
The roles adds an entry in `/etc/hosts` that links 127.0.0.1 to the hostname and server-FQDN. Something like:
[code]

As a consequence there is no entry for `localhost` in `/etc/hosts` which may affect services that rely on this. Suggestion is to adopt the role that the entry in `/etc/hosts` includes `localhost` and looks like this:
[code]

[2017-02-08 13:52] xenithorb commented on #35
Indeed you are correct, and I've had the fix here for a little while. I've been extremely busy, and I need to be more diligent about pushing code to master:

 https://github.com/RocketChat/Rocket.Chat.Ansible/commit/fb315afbd4b645bee79b7368317910133c99b49d#diff-2444ad0870f91f17ca6c2a5e96b26823R118

There are quite a few updates contained in that branch. You're welcomed to test it (that branch) if

[2017-02-08 14:17] jautz commented on #35
Allow me to add a few suggestions from our code base that currently has this as a workaround:
- the regexp could be a bit more precise, i.e. escape the literal dots and require any kind of whitespace after the final digit -- otherwise it would match 127.0.0.123 as well.
- if missing, insert on top of the hosts file because on many systems it is IPv4 on top and IPv6 below.

[code]

[2017-03-14 13:48] OtherSystems opened #37 "Incorrect checksum in defaults/main.yml"
In [defaults/main.yml](https://github.com/RocketChat/Rocket.Chat.Ansible/blob/master/defaults/main.yml) the ansible role defaults to the latest version and checks a checksum, this checksum however is not correct for the latest version of rocket chat.

Running debian jessie and ansible 2.2.1.0-1

[2017-03-14 13:48] cmacrae commented on #37
See: https://github.com/RocketChat/Rocket.Chat.Ansible#faq in the README

[2017-03-14 13:48] #37 closed

[2017-03-14 13:50] OtherSystems commented on #37
Ah missed that, where can I get the latest checksum?

[2017-03-14 13:59] cmacrae commented on #37
You can grab the download here: https://rocket.chat/download (probably interested in the links at the bottom), then use the `sha` command, using the 256 algorithm arg, to get the hash :)

[2017-05-16 19:40] vialcollet commented on #17
Hi there.
Did anyone make some progress on this?

[2017-05-16 19:46] xenithorb commented on #17
Yep. It was completed some time ago on this branch: https://github.com/RocketChat/Rocket.Chat.Ansible/tree/travis_build_test_WIP

I use this branch on my personal server.

It's been a while since I updated it though, life happened in the meantime as it always does and I forgot about where I left this. Thanks for reminding me - I'll put merging this to master and updating the documentation on my to

[2017-05-19 13:56] TwizzyDizzy opened #39 "No option to disable the install of npm/nodejs"
Hi folks,

I was just trying to use this role. We're only using it to install the application (Rocket.Chat) itself. Everything else (MongoDB, nginx, nodejs, npm) is managed by puppet.

So what I did was trying to be clever to prevent this role from installing nodejs-npm by setting

    rocket_chat_dep_packages:
      - git
      - GraphicsMagick
      - wget
      - "@Development tools"

... and t

[2017-05-22 04:44] chagara commented on #17
@xenithorb thank you for adding lestencrypt. I'm looking forward to when it gets added to master. I use ansible heavily and have been debating between rocketchat or mattermost. So far I'm liking rocketchat.

[2017-05-23 12:58] TwizzyDizzy opened #40 "Introduce new rocket_chat_mongodb_ vars to make role more generic"
Hi folks,

I was wondering: currently it doesn't seem to be possible to define the user / password for the connection to mongodb. It is also not possible to say that one wants to connect to rocket.chat via TLS and furthermore it's not possible to disable the oplog if one does not use it.

I would therefore want to introduce the following new vars:

* STRING rocket_chat_mongodb_user
* STRING rocket

[2017-05-24 19:57] xenithorb commented on #39
Can you try [this branch](https://github.com/RocketChat/Rocket.Chat.Ansible/tree/travis_build_test_WIP) and let me know if anything changed? I have yet to merge that into master, but it did some significant changes to the way I handle installing the application with node. (namely I use the system node/npm to install nvm then get the right node version etc..)

[2017-05-29 12:42] TwizzyDizzy commented on #39
With your branch, the playbook fails at:

    TASK [Rocket.Chat : assert] ****************************************************
    task path: /home/thomas/Documents/git/ansible-chat-test/roles/Rocket.Chat/tasks/main.yml:27
    fatal: [my.host.name]: FAILED! => {"failed": true, "msg": "ERROR! The conditional check
    'result|succeeded' failed. The error was: ERROR! template error while templating

[2017-05-29 13:48] TwizzyDizzy commented on #39
Oh well, this seems to be an [ansible problem](https://github.com/ansible/ansible/issues/14808) before 2.1. So I replaced ` succeeded` with `success` and it now runs... up until the dependency installation.

Some problem. `nodejs-npm` is still being installed though it shouldn't.

Cheers
Thomas

[2017-08-01 16:00] AceSlash opened #43 "Error on step "Grant Nginx permissions to proxy requests to an upstream [SELinux]""
[code]
I tried to install the role on a Ubuntu 16.04 lxc container, removing this steps makes the role works.

[2017-08-24 17:37] jlozadad commented on #17
this worked for me so I say its good to go.

[2017-09-12 10:26] TwizzyDizzy commented on #40
Any feedback on this or anything I can clarify? :)

Cheers
Thomas

[2017-10-18 10:22] TwizzyDizzy opened #44 "Relaunch of rocket.chat website broke default of {{rocket_chat_tarball_remote}}"
Hi folks,

the recent relaunch of the https://rocket.chat website broke the default settings of this Ansible role. In `./defaults/main.yml` the is the variable `rocket_chat_tarball_remote` that defaults to `https://rocket.chat/releases/[github release tag]/download`.

Those are no longer available and yield a 404.

Furthermore, the structure of the release files on github seem to differ from the o

[2017-10-18 11:41] TwizzyDizzy commented on #44
Concerning the different release archives: #8526.

[2017-10-18 20:11] TwizzyDizzy commented on #44
Turns out: old-style tarballs can still be fetched at https://s3.amazonaws.com/download.rocket.chat/build/rocket.chat-[github release tag].tgz

Gonna do a PR tomorrow.

Cheers
Thomas

[2017-10-19 11:06] Lawri-van-Buel commented on #44
I Patched my ansible scripts by setting the defaults value to:
`rocket_chat_tarball_remote: https://cdn-download.rocket.chat/build/rocket.chat-{{ rocket_chat_version }}.tgz`

This is deduced by teh download link on the webpage and likely the prefered URL to fetch it from (not direct through the s3 bucket which could be moved. @TwizzyDizzy  can you confirm this? or integrate it into your PR?

[2017-10-19 11:38] xenithorb commented on #44
@geekgonecrazy Do you know anything about this CDN link? I thought GH was official (and is what's listed on the download page). I'm happy to patch this I just want to know that actually canonical source.

[2017-10-19 11:41] TwizzyDizzy commented on #44
Please also keep in mind: https://github.com/RocketChat/Rocket.Chat/issues/8526

`https://cdn-download.rocket.chat/build/rocket.chat-0.59.0.tgz` and `https://github.com/RocketChat/Rocket.Chat/archive/0.59.0.tar.gz` are **NOT** the same.

Cheers
Thomas

[2017-10-19 11:41] xenithorb commented on #44
That's what worries me.

[2017-10-19 20:18] xenithorb commented on #44
Fixed by #46, thanks @TwizzyDizzy @geekgonecrazy

[2017-10-19 20:25] geekgonecrazy commented on #44
Sorry about the confusion.  We have a new address to be able to always fetch latest.

https://github.com/RocketChat/Rocket.Chat/archive/0.59.0.tar.gz is just a source code archive exactly as the code is at the time of the release.  Where as the archives we ship are compiled bundles ready for doing npm install and running.

We are evaluating adding bundles to github releases.  But for now latest st

[2017-10-19 20:43] TwizzyDizzy commented on #44
Well... as for this ansible role: it assumes that {{rocket_chat_tarball_remote}} is a bundle build (thanks for the terminology, I wasn't quite sure how to call this up until now).

To be honest: I find it very important that also "edge" builds (I assume you mean "release candidates") are released bundled. Otherwise I would not (at least not with this role) be able to provide fast feedback on bugs

[2017-10-19 20:45] xenithorb commented on #44
I think edge is like a nightly, I think "candidate" would be RC

[2017-10-19 20:46] TwizzyDizzy commented on #44
Ah! My bad! You're right :)

[2017-10-19 20:52] geekgonecrazy commented on #44
yes they are still released as bundled 😄  What we make available hasn't changed, just trying to fix how we present them since the new website :)

[2017-10-20 08:25] photoninger commented on #43
To fix this error you just have to change in tasks/nginx.yml the following line:
`
when: (ansible_selinux is defined) and
           (ansible_selinux.status != "disabled")
`
to
`
when: (ansible_selinux is defined) and (ansible_selinux != false)
`
In recent ansible versions there were some changes within the setup-module.

[2017-10-20 08:33] TwizzyDizzy commented on #44
I'm sorry, but I think I have to object once again to https://github.com/RocketChat/Rocket.Chat.Ansible/pull/46/commits/c577e6714ff342d6334e51de4093041c31f45585 :D ... but please, bear with me:

If I want to deploy a specific version... in the past I could, for example, set `{{rocket_chat_version}}` to a specific version like `0.59.0-rc.13`. With the current version of `{{rocket_chat_tarball_remot

[2017-10-20 09:53] xenithorb commented on #44
Yeah, you're completely right. Problem is I have no idea how to reached versioned builds like this, either.

Perhaps the ticket is to add the functionality to this role in order to grab from GH and bundle/install itself when a specific version is needed?

[2017-10-20 10:03] xenithorb commented on #44
Regarding the site itself - the unfortunate part of this, like @geekgonecrazy mentioned - the first two links "latest stable" and "beta" go to this new redirect for `stable` and `candidate`, whereas the "Past releases" link just takes you to GH where there are no bundles :(

[2017-10-20 10:06] TwizzyDizzy commented on #44
Exactly. My workaround with `https://cdn-download.rocket.chat/build/rocket.chat-{{ rocket_chat_version }}.tgz` still works, but I don't know if that's gonna last.

But this would be a major drawback. The advantage of having bundled releases is, that you don't need to build it yourself (and thereby don't have to have a build ENV on your PROD environment).

Cheers
Thomas

[2017-10-20 10:10] xenithorb commented on #44
Yeah, I'm with you there completely. I hope @geekgonecrazy can clarify what the official recommendation is here because I don't know if that CDN link will last, either.

Where I think this is probably going to end up... They're probably going to end up providing bundles on GH at some point and that's where we'll get the specific builds

[2017-10-20 10:16] TwizzyDizzy commented on #44
Let's see, was he has to say :) Bundles on github... yeah - would probably be the right choice.

[2017-10-20 13:54] #43 closed

[2017-10-20 15:34] geekgonecrazy commented on #44
As to the disagreement with the commit.  I'm not sure I understand why there is disagreement.  It's a drop in replacement that does **exactly** what it previously did.

As to specific versions they are available at: https://download.rocket.chat/build/rocket.chat-0.59.1.tgz
The .asc is available at: https://download.rocket.chat/build/rocket.chat-0.59.1.tgz.asc

Of course just swapping out the versi

[2017-10-20 15:41] xenithorb commented on #44
I already merged that commit (with some of my own changes). No disagreement. We were just discussing the fact that previously a user was able to version lock by replacing (now) "stable" with a version number.

Now, I will have to write in the logic to detect if a version lock is wanted, then hit the *new* path of `https://download.rocket.chat/build/rocket.chat-{version}.tgz`, which is no big deal

[2017-10-20 19:15] geekgonecrazy commented on #44
Ok, yeah that makes sense.  This is personally my preference as well.  In production I never link to "latest" or "stable" I always tag a version.

Fortunately I don't see any reason for it to change again.  Now instead of relying on our website "app" to do redirecting.  Links are directly to the files, which should help.

Yes we started doing that and actually make use of it only in our docker ima

[2017-10-21 18:18] xenithorb commented on #17
My hold up on releasing this to master is the documentation. The README is a bit much on this one |:

[2017-10-21 18:20] xenithorb commented on #40
Would you be willing to implement this on the `develop` branch?

[2017-10-21 18:29] TwizzyDizzy commented on #40
The reason I haven't done that already is, that currently I have the feeling that I'm not good enough with ansible yet. But I'll have a look at it in time and give it a shot...

Cheers
Thomas

[2017-10-22 14:52] xenithorb commented on #44
Heads up with this issue if you run into `get_url` problems: https://github.com/ansible/ansible/issues/31998

[2017-10-22 21:09] jlozadad commented on #17
no problem. I can try to help with the README. Is there any specific way you need it?

[2017-10-22 21:53] xenithorb commented on #17
https://github.com/RocketChat/Rocket.Chat.Ansible/compare/d55bd81...9fd1bc1

Bit of stuff to go over... If you want to submit some PRs to change the README to reflect the new variable names and such that would be great. I'm terrible at documentation.

I still plan on breaking apart:

1. travis_build test 569b417
2. WIP: Let's Encrypt support! 7ded192

By rebasing. But I shouldn't change the code t

[2017-10-22 21:55] xenithorb commented on #17
Closing this since the working implementation is on develop

[2017-10-22 21:55] #17 closed

[2017-10-22 22:01] xenithorb opened #50 "Implement GPG verification in place of sha256 hashes"
https://github.com/RocketChat/Rocket.Chat.Ansible/issues/44#issuecomment-338241507

We automatically generate GPG `.asc`s now, that we can use to verify the builds instead of me updating the hash on the role here periodically as the "correct" hash.

We should:

1. Ensure that people still have the ability to check SHA256 sums should they want to retain that workflow. This should be easily accompli

[2017-10-22 22:03] xenithorb opened #51 "Improve and finish documentation of develop branch for next merge milestone"
I've unfortunately left develop a mess, and the README needs to be cleaned up and improved on.

[2017-10-22 22:04] xenithorb commented on #17
@jlozadad please join me here: https://github.com/RocketChat/Rocket.Chat.Ansible/issues/51

[2017-10-22 22:12] xenithorb opened #52 "Implement switching between download endpoints (version locking)"
https://github.com/RocketChat/Rocket.Chat.Ansible/issues/44#issuecomment-338243439

https://github.com/RocketChat/Rocket.Chat.Ansible/issues/44#issuecomment-338142860

##### Main points:

1. RC Switching to the `https://download.rocket.chat/stable` endpoint loses the ability to download specific versions from a single variable.
2. We need to add this functionality in by replacing `/stable` with `/

[2017-10-22 22:16] xenithorb commented on #44
Bug here has been hotfixed to master in https://github.com/RocketChat/Rocket.Chat.Ansible/releases/tag/v2.2.5

Closing this in favor of two branched issues that were raised. #50 and #52

[2017-10-22 22:16] #44 closed

[2017-10-22 22:21] xenithorb commented on #39
Should we still add the ability to not install `npm` and `node` through NVM?

One of the main points of contention I had with this role was in dealing with package'd node versions - and I say that as a Fedora packager - it's just not worth it with this stuff generally because of how rapid the development is.

That was the reasoning behind me ditching everything but the explicit version of NPM and

[2017-10-22 22:49] #35 closed

[2017-10-25 21:28] geekgonecrazy commented on #50
@xenithorb https://github.com/RocketChat/Docker.Base.Image/blob/master/Dockerfile#L6

[2017-10-26 09:58] TwizzyDizzy commented on #39
Hi @xenithorb

Oh... in fact, that was not my intention. The reason I opened this ticket is, that I was not able to prevent this role from trying to install nodejs. I didn't want to be able to install nodejs through this role. In fact, I wanted to prevent it

But let me try to replicate this when I updated my environment to use the current version of this role. I'll then get back to you.

Cheers
T

[2017-10-30 20:05] geekgonecrazy opened #57 "update node.js version for 0.60.0"
0.60.0 will be using an updated version of meteor with that comes a move to latest node.js LTS 8.x

i've got things prepared to use 8.8.1 in docker images.

[2017-11-01 17:46] bitmux opened #58 "'rocket_chat_service_template' is undefined"
fatal: [serverurl]: FAILED! => {"failed": true, "msg": "The task includes an option with an undefined variable. The error was: 'rocket_chat_service_template' is undefined\n\nThe error appears to have been in '/home/bitmux/.ansible/roles/RocketChat.Server/tasks/main.yml': line 172, column 5, but may\nbe elsewhere in the file depending on the exact syntax problem.\n\nThe offending line appears to be

[2017-11-01 19:46] bitmux commented on #58
Completely removed the RocketChat.Server role and re-downloaded.  I saw this error and wonder if its related to the previous error.  Is the OS version not being detected correctly?
fatal: [serverurl]: FAILED! => {"failed": true, "msg": "The task includes an option with an undefined variable. The error was: 'rocket_chat_mongodb_apt_repo' is undefined\n\nThe error appears to have been in '/home/bitm

[2017-11-01 20:35] bitmux commented on #58
Issue found: Role is not yet ready for 17.04 release.

[2017-11-01 20:35] #58 closed

[2017-12-01 16:08] hniemann opened #60 "Update to latest version not working"
The download url has changed back to the old URL.
https://github.com/RocketChat/Rocket.Chat/issues/8990

[2017-12-15 21:15] instantchow opened #62 ""Ensure n (NodeJS) is installed" fails due to openssl needing to be updated in CentOS 7"
[code]
### OS

Mostly clean, CentOS 7 minimal image

### Workaround

running `yum update openssl` brings openssl-1.0.1e-51.el7_2_2.2 to 1.0.2k-8.el7

related link: https://stackoverflow.com/questions/46473376/node-relocation-error-node-symbol-ssl-set-cert-cb-version-libssl-so-10-not-d

### Possible Fix
adding update to openssl in playbook.

[2018-01-03 15:50] arnehueggenberg opened #63 "Centos7: current version needs develop branch to upgrade/install"
In order to get  Rocketchast to upgrade to the current (0.60.2) version  i had to clone the develop branch and override some variables.

OS: Centos 7
[code]

[2018-01-10 13:26] chanux commented on #13
JFTR, I faced this issue with Ansible 2.2.0 when I tried to load variables from Ansible Vault where I used `foo=bar` instead of `foo: bar`. Newer versions helpfully error out.

ansible/ansible#14678

[2018-01-19 18:32] nickbroon opened #64 "vagrant ubuntu box no longer available"
I'd guess a switch to different provider is needed.
[code]

[2018-01-24 11:34] nickbroon opened #66 "Fix travis builds so that they actually work again"
Makes validating Pull Request non trivial.
Either all jobs should pass or if failures are expected `allow_failures` used.

[2018-02-06 15:59] nickbroon opened #67 "Enhancement: Support ADMIN_USERNAME and ADMIN_PASS role variables"
https://rocket.chat/docs/administrator-guides/create-the-first-admin/
It would be very useful to be able to create the admin account during deployment.

[2018-02-06 20:41] nickbroon commented on #67
Better yet would be support for controlling all RocketChat setting from the environment.
Something like:

[code]

This would allow for having full control of the settings from the Ansible deployment.

There is details of these environment variables here https://github.com/RocketChat/docs/issues/261

But appears these are not making from the Ansible environment declaration through to the rocketchat

[2018-02-17 23:07] #57 closed

[2018-02-17 23:07] #60 closed

[2018-02-17 23:38] #62 closed

[2018-02-18 00:02] #63 closed

[2018-02-18 00:06] xenithorb commented on #66
What's not trivial is writing a complex role such as this and getting it to not fail when run in docker containers :'(

I'll work on it soon

[2018-02-18 00:13] xenithorb commented on #67
I believe the reason they're not being passed is due to the use of `become:` before we install the contents of the rocket.chat tarball with `npm`. Effectively what is happening is that `sudo`, which ansible is using in order to `become:` sanitizes the environment.

[2018-02-18 00:15] xenithorb commented on #64
This needs to be updated anyhow. Loosely related to #66 due to needing to look up which distros should be supported at present.

[2018-02-18 00:17] xenithorb commented on #64
Have any ideas for the ubuntu box provider? I'm typically using it on Fedora here. I'd like to stay as official as possible, but I remember the reason for not using Ubuntu's official boxes were that they refused to follow vagrant conventions in a lot of areas (of which I don't remember the details of) - and it basically broke a bunch of stuff.

Probably worth looking at their newer images to see i

[2018-02-18 00:27] xenithorb commented on #66
The biggest problems seem to stem from the multitude of dependency systems used throughout the play. (i.e. if it's usually pip or npm dying on some external dependency mess up)

Example:

[code]

This has absolutely nothing to do with even getting to the ansible playbook yet - it's failing on even installing ansible to run the damn playbook against itself!

And, I had originally switched away from

[2018-02-18 00:29] xenithorb commented on #66
Hmm, maybe we can standardize the ansible version across containers by using Docker-In-Docker and pull in and use a reliable container with ansible pre-installed?

[2018-02-27 14:44] #52 closed

[2018-02-27 16:55] xenithorb commented on #67
This actually doesn't pan out the way I thought it did...

A test such as this:

[code]

Proves the opposite with the output:

[code]
So, it does in fact look like ansible is "doing the right thing" here and passing along the environment variables.

My thoughts on this now is that we might be able to get away with introducing a variable `{{ rocket_chat_environment }}` that would take a dictionary

[2018-02-27 17:20] nickbroon commented on #67
I think the problem is that rocketchat is started as a systemd init service, that by default will not pick these up. So I think these variables would need to be injected into the rocketchat.service.j2 template as Environment variables along side those already there.

[2018-02-27 17:28] xenithorb commented on #67
Ah, I wasn't tracking where you wanted them until now. I had thought you wanted them available during the application install.

Yeah, putting them in the service file is just a matter of templating that. Easy stuff.

Just so we're clear:

[code]
Which results in...

[code]

Would work for you? (I don't use the ENV variables myself)

[2018-02-27 17:36] nickbroon commented on #67
Yes, that would be brilliant! It would allow a full dev-ops style control of the rocket.chat config from ansible.

[2018-02-27 18:42] #50 closed

[2018-02-27 19:18] #67 closed

[2018-02-27 19:19] xenithorb commented on #67
Please take a look at the develop branch, currently at https://github.com/RocketChat/Rocket.Chat.Ansible/pull/74

To see if this is adequate for your needs

[2018-02-27 21:23] #64 closed

[2018-02-27 21:25] xenithorb commented on #29
The reign of hash-updating is OVER! Welcome to the wonderful world of automated GPG verification!  Thanks Rocket.Chat for publishing the signatures!

[2018-02-27 21:25] #29 closed

[2018-03-05 18:55] MoHD20 opened #77 "Rocket Chat Migration."
Could the migration process be implemented? My thoughts is that it's just migrating MongoDB right?

[2018-03-05 18:56] xenithorb commented on #77
Can you describe in better detail what it is you're looking for?

[2018-03-05 19:02] MoHD20 commented on #77
I was thinking of migrating an already deployed Rocket chat server to a new server with more specs for example.

[2018-03-05 19:09] xenithorb commented on #77
While technically possible, automating "from one server to another" seems a bit outside of the scope of this role. However, what does make some sense to support is restoring an already existing mongodb databse dump, after mongodb is installed by this role. I like it :+1:

[2018-03-05 19:34] MoHD20 commented on #77
But what is the use cases of restoring an already existing mongodb database dump to the same server? Things like automating backups & restoring?

[2018-03-08 14:44] jlozadad commented on #77
yes, basically that. You can somewhat take this further add the `copy` module, send it to the other RC host and possibly restore there but, there is no mongodb module to restore like pgsql. So you will have to use `shell/command` module which can get tricky.

[2018-03-10 01:58] jlozadad opened #78 "Split up the tasks into roles"
Looks like the main.yml it starting to get huge and hard to follow. We should break it down into roles and follow best practices.

[2018-03-10 02:10] jlozadad commented on #78
Same for the rest of the files now I looked more into it. I can start working on this and make it cleaner.

[2018-03-11 15:11] jlozadad commented on #78
For now the roles dir would be in this git project but, it would be better in the long run for each role to be its on project.

[2018-03-11 15:16] jlozadad commented on #39
@TwizzyDizzy have you tried commenting out the tasks that install it?

[2018-03-11 15:19] TwizzyDizzy commented on #39
That is my current workaround, yes.

Cheers
Thomas

[2018-03-17 04:38] jlozadad commented on #78
for the moment since we would need more projects to host the other roles. I'll convert this into tasks files instead.

[2018-05-04 06:14] qnaalx opened #82 "Installing Rocket.chat on CentOS7 via Ansible"
Hey Guys,

i try to install rocketchat via ansible on centos7.
After some obscurities with node I come to a new problem, and I dont know a solution.
I installed it via documentation (https://rocket.chat/docs/installation/automation-tools/ansible/)
I defined my server in my inventoryfile... everythings fine with this but after execute
```ansible-playbook -i inventory rocket_chat.yml```
I get the fo

[2018-05-15 09:00] golimer opened #85 "Ensure provided PFS key has been deployed FAIL"
TASK [Rocket.Chat.Ansible : Ensure provided PFS key has been deployed]
fatal: [172.31.11.21]: FAILED! => {"changed": false, "failed": true, "msg": "src (or content) is required"}

any suggestions?

[2018-05-16 09:35] huiminzeng opened #86 "Login via Ansible"
Hi everyone! I am trying to use ansible-playbook to log into rocketchat. Following is my playbook:
<img width="240" alt="asdf" src="https://user-images.githubusercontent.com/38716719/40108771-348dbc38-58fc-11e8-954f-743ab2f1e76d.PNG">
the result turns out to be:
<img width="488" alt="re" src="https://user-images.githubusercontent.com/38716719/40108821-52a3134e-58fc-11e8-9106-a6461ac4ea18.PNG">
Bas

[2018-05-17 11:57] huiminzeng commented on #86
I found the reason. It occurred because i gave the authentication information to the wrong parameters.

[2018-05-17 11:57] #86 closed

[2018-05-19 20:06] haffla commented on #85
I can confirm this. I believe the problem is here https://github.com/RocketChat/Rocket.Chat.Ansible/blob/develop/tasks/nginx.yml#L74

In `defaults/main.yml` `rocket_chat_nginx_pfs_file` is actually defined as `~`.

So this `copy` task tries to copy `~` which is of course not a file. Uncommenting `rocket_chat_nginx_pfs_file` in `defaults/main.yml` fixes this.

[2018-05-29 07:47] grooverboy commented on #82
Hi!

I just ran into this problem too. The role defines a fixed checksum to check the downloaded file against, and if it doesn't match, I was getting this failure.

I suppose this means that rocket.chat-latest.tgz has been re-created (updated) since that checksum was added to the role.

While I can't recommend that you do this, I worked around this on my development server by modifying the checksu

[2018-06-01 09:42] #85 closed

[2018-06-01 12:13] haffla commented on #85
Hello! Could you inform why this issue was closed? I just ran into this myself....

[2018-06-03 00:11] jlozadad commented on #82
yes, you need to add the checksum since It has been a while and has changed. I been trying to submit PR's to fix a lot of stuff that needs but, it looks like the maintainers are not around.

[2018-06-04 07:15] Lawri-van-Buel commented on #82
While i did not test it on centos check out my pull request for a new role.

https://github.com/RocketChat/Rocket.Chat.Ansible/pull/84

It checks for the cryptographically signature instead of the hash.
Also it gives you the capability to change the mongodb url. (Like add ssl or use a cluster)

[2018-06-04 14:20] xenithorb commented on #82
I'm around, I just haven't had time to work on it with starting new employment. Most of the work and bug fixes people are complaining about are located on this branch: https://github.com/RocketChat/Rocket.Chat.Ansible/commits/v3.1.0_updates and it's my fault for not getting it out sooner.

[2018-06-07 16:59] jlozadad commented on #82
@xenithorb let us know when you do so we can help further :) some of us are actively trying to make it better.

[2018-07-08 16:18] #40 closed

[2018-08-01 16:29] TheReal1604 commented on #78
@jlozadad @xenithorb I think the things should be split up in roles - the ansible way is little niche to install rocket.chat - maybe for bigger deployments which need more automation in an easy way. Would be cool to have that. I would merge that repo and try to split it up - what you think guys?

[2018-08-01 21:45] jlozadad commented on #78
@TheReal1604 I agree that it should be roles but, since there's barely any activity and such, I was trying to commit things to what we have right now. If we do roles then we should create a git repo for each.

[2018-08-02 00:59] xenithorb commented on #78
In my professional life I would do exactly that, split things into per-repository roles and make them as modular and decoupled as possible. That being said, this role has always been a rather opinionated take on how to deploy a single instance of rocketchat to debian, ubuntu, centos, etc.

In other words, the scope of the role was to get things up and running with your choice of operating system,

[2018-08-02 06:04] TheReal1604 commented on #78
@xenithorb thanks for your sight.

Its just an improvement thing - make it more "future proof" or you need a complete  rework at some point in the future. :) I use ansible also to administrate our docker-hosts, rocket-chat itself is deployed via docker, mongo also. Maybe this could also be a way to go? Do you have any specific improvements in deploying it directly with all the depencies?

Anyways

[2018-08-02 12:54] jlozadad commented on #78
whatever works its fine by me. Either update this role or create multiple roles or create something more into containers. Although I seen more areas use RC in containers, there's still the use of ansible with containers.

[2018-08-17 08:44] angel-manuel opened #91 "Using a mongodb replicaset"
How can I configure the role to use an external mongodb replicaset?
I would like to write multiple server into MONGO_URL and use a different database name on MONGO_OPLOG_URL.

If I could override MONGO_URL and MONGO_OPLOG_URL directly it would be done.

[2018-10-11 10:55] nickbroon commented on #77
Having ansible tasks and variables to specify a database dump to restore would be great for deploying a new RocketChat server with data from an old manually installed system.
(And perhaps having ansible task that configure automatic database back dumps would also be great).

[2018-12-06 10:11] JorisVanEijden opened #93 ""Using tests as filters is deprecated" in Ansible 2.5+"
"Using tests as filters is deprecated" in Ansible 2.5+
See: https://docs.ansible.com/ansible/2.5/porting_guides/porting_guide_2.5.html#jinja-tests-used-as-filters

Unless this is fixed, this playbook will stop working from Ansible 2.9 onwards.

[2019-02-15 20:21] #93 closed

[2019-02-25 12:43] hatifnatt opened #95 "hosts file management"
Currently playbook will update hosts with line
[code]
I assume it's expected that it will be expanded as
[code]
but `ansible_nodename` on Debian based OS will expand into _hostname_ only not into _fqdn_, as result line in hosts will be like
[code]
That is not expected behavior.

Also it's will be great to allow user completely skip hosts file management, it's not good pattern to manage config file

[2019-02-28 13:04] nickbroon opened #96 ""AnsibleUndefinedVariable: 'dict object' has no attribute 'iteritems'" reploying service file"
Deploying to CentOS 7:

[code]

Any suggestion to the cause/fix?

[2019-03-29 16:24] mrik974 opened #98 "Ansible galaxy not up to date"
This is not an issue about this repo, but it is connected to an Ansible Galaxy role and I noticed this was not up to date.
Using the latest version in Galaxy (v3.0.0) brings issues such as
- GPG key not functional
- rocket chat remote url is old and makes a redirect, which is not followed by the playbook.

Is there a reason the Galaxy role is not updated?

[2019-04-01 08:43] nickbroon commented on #96
Does this relate to #74 in some way?

The 'Deploy the Rocket.Chat service file' task using rocketchat.service.j2:

[code]

[2019-04-01 09:26] nickbroon commented on #96
Changing it to use `rocket_chat_service_environment.items()` seemed to fix the problem.

This appears to be an issue with iteritem() being removed in Python 3.
https://stackoverflow.com/questions/30418481/error-dict-object-has-no-attribute-iteritems

[2019-04-05 16:52] rodrigorodriguescosta opened #99 "{"msg": "No file was found when using with_first_found. Use the 'skip: true' option to allow this task to be skipped if no files are found"}"
This issue occur when I try to install

my playbook

---
- hosts: rocketchat
  become: true

  vars:
    rocket_chat_automatic_upgrades: true
    rocket_chat_include_mongodb: false
    rocket_chat_mongodb_server: 192.168.0.1
    ansible_python_interpreter: "/usr/bin/python3"

  roles:
    - RocketChat.Server
[code]

[2019-06-20 08:04] tanc commented on #96
I also get this error and I my ansible version runs in Python 3 on MacOS, installed via homebrew:

[code]

[2019-07-17 09:49] VanThanVu opened #100 "TASK [RocketChat.Server : Ensure the Rocket.Chat service is running/enabled]"
Hi guys,

I have a problem while I'm deploying Rocket. Chat using Ansible. Look like we are having the problem with the version of node & node js. Could anyone help me with an idea to solve them?

Regards,

<img width="1258" alt="image" src="https://user-images.githubusercontent.com/46390756/61366026-f89a0800-a8b2-11e9-9ed4-a09f6d564581.png">

<img width="1279" alt="image" src="https://user-images

[2019-07-27 01:31] ElijahLynn commented on #96
Super valuable, I just searched this error and I am not using rocketchat or homebrew but am using pyenv along with virtualenvironment and had the version set to 2.7.x but no matter what I did with pyenv the virtualenvironment kept using system default. End solution was to use [pyenv-virtualenvironment](https://github.com/pyenv/pyenv-virtualenv/).

[2019-08-14 13:33] tumainimosha commented on #99
Same issue here. Installing on ubuntu 18.04 and ansible 2.8.1

[code]

[2019-09-24 09:48] barm0leykin commented on #99
The problem all is still actual. Ubuntu 18.04, ansible 2.8.2

[2019-10-09 14:10] lossos commented on #99
The latest release of the Role here and on Galaxy is from Feb 2018. As workaround till RocketChat issues a new release, you can clone this repo.

[2019-12-02 18:41] ostrolucky opened #103 "Please release new version, provisioning no longer works"
Now boxes install Ansible 2.9+, so new provisions are no longer getting
[code]

but
[code]

This is because https://github.com/RocketChat/Rocket.Chat.Ansible/pull/94 was never released.

[2020-04-11 21:14] hungrymonkey opened #104 "Mongod restart failed Ubuntu 18.04"
[code]
requirements.yaml
[code]

[2020-04-11 21:17] hungrymonkey commented on #104
[code]

[2020-05-06 05:57] admrulankor opened #105 "Add support for Ubuntu 20.04 LTS please!"

[2020-06-05 08:33] lossos commented on #66
I added a PR #108 which does provide a very simple, but working travis config for running the playbook inside docker. This one still need some improvement (e.g. additional tests at the end). Ubuntu 18.04 is also always failing because it does use the debian variables and i didn't figured out tonight why it does that.

[2020-06-11 01:14] yodatak commented on #103
Time to fork it ?

[2020-07-15 04:12] #66 closed

[2020-08-24 10:33] chrinats commented on #104
At **/etc/ansible/roles/defaults/main.yml** change

_rocket_chat_mongodb_service_name: mongod_
to
rocket_chat_mongodb_service_name: mongod**b**

[2020-08-24 18:07] hungrymonkey commented on #104
https://github.com/RocketChat/Rocket.Chat.Ansible/pull/101

[2020-08-24 18:31] chrinats commented on #104
@hungrymonkey Did you manage to deploy Rocket.Chat?

I'm getting an error when executing MongoDb replica Set:

_{"msg": "The conditional check '('ok' in (replSet_result.stdout | from_json))' failed. The error was: No JSON object could be decoded"}_

[2020-08-25 01:38] hungrymonkey commented on #104
@chrinats

I gave up and deployed the snap releases.  This ansible does not seem to be maintained. You can peak at the effort to deploy the snapd below

https://docs.rocket.chat/installation/snaps

# Rocket Chat Server

## Home server URL
rocketchat.domain.com

## Install
1. Start Ubuntu AWS VM with Open Ports
   - 80 (TCP HTTP)
   - 443 (TCP HTTPS)
2. Install Rocket Snap
   - `sudo snap install r

[2020-09-18 05:25] tabacha opened #109 "become_user / Check for adequate privilege escalation rights"
Hi,

the role did not work for us, because we got an assert in in the check  "**Check for adequate privilege escalation rights**",

I analyed this further and found out, that it works when I change the shell from /bin/false to bin/bash. But it was changed back in the Task: *Ensure the Rocket.Chat service user is present*

After I added ```become_flags:  '-s /bin/bash'``` to the task  "**Check for

[2020-10-05 13:38] k3rn3Lp4n1cK opened #110 "CENT7 - Task: Ensure n (NodeJS) is installed"
Playbook error:
`An exception occurred during task execution. To see the full traceback, use -vvv. The error was: ValueError: No JSON object could be decoded
fatal: [127.0.0.1]: FAILED! => {"changed": false, "module_stderr": "Shared connection to 127.0.0.1 closed.\r\n", "module_stdout": "Traceback (most recent call last):\r\n  File \"/root/.ansible/tmp/ansible-tmp-1601904619.82-21641-9472247269964

[2021-02-26 15:28] robincafolla opened #112 "Rocket.Chat binary tarball can no longer be found"
The url `https://rocket.chat/releases/latest/download` created when `{{ rocket_chat_version }}` is `latest`:

https://github.com/RocketChat/Rocket.Chat.Ansible/blob/7ec77dba80efe84564d208263570457415a44861/defaults/main.yml#L10

results in a 404 response.

I suspect, but have not verified, that it will fail regardless of the value of `{{ rocket_chat_version }}` since it looks like the `https://roc

[2021-03-01 12:09] robincafolla commented on #110
I would expect this fix in [community.general](https://github.com/ansible-collections/community.general/issues/1614) to resolve this issue, but I'm still seeing it with [v2.2.1](https://github.com/ansible-collections/community.general/blob/2.1.1/CHANGELOG.rst) on Ubuntu 20.04.

[code]

[code]

[code]

[2021-03-01 12:15] robincafolla commented on #110
As a temporary fix you can comment out `executable: "{{ rocket_chat_npm_dist }}"` in [tasks/nodejs.yml#L19](https://github.com/robincafolla/Rocket.Chat.Ansible/blob/rcafolla-dev/tasks/nodejs.yml#L19) to skip the problem, although this will obviously fail if your npm is located somewhere weird.

If you do this you'll need to for this repo and add it to your project via a `requirements.yml` file lik

[2021-05-04 02:29] aakatev commented on #91
Any updates on this issue?

[2021-05-24 18:55] samueldc opened #113 "Error on task assert using generic/ubuntu1804 box with libvirt provider and Ansible 2.9"
Hi,

I getting the following error using generic/ubuntu1804 box with libvirt provider and Ansible 2.9:

`
TASK [RocketChat.Server : assert] **********************************************
task path: /home/vagrant/.ansible/roles/RocketChat.Server/tasks/main.yml:27
fatal: [rocketchat-poc]: FAILED! => {
    "msg": "The conditional check 'result|succeeded' failed. The error was: template error while te

[2022-03-25 14:51] FractalizeR opened #115 "rocket_chat_tarball_gpg_keyserver: ha.pool.sks-keyservers.net - sks-keyservers.net no longer available"
https://unix.stackexchange.com/questions/656205/sks-keyservers-gone-what-to-use-instead

[2022-03-25 14:54] FractalizeR commented on #115
I replaced it to `rocket_chat_tarball_gpg_keyserver: keyserver.ubuntu.com` and it seems to be working for now

[2022-03-25 15:02] FractalizeR opened #116 "'rocket_chat_node_version: 8.9.4' setting in master produces installation errors"
If you leave node to be of the old version, installation (npm run) fails with errors:

`"The Node-API version of this Node instance is 1. This module supports Node-API version(s) 3. This Node instance cannot run this module."]}`

[2022-03-25 15:14] FractalizeR opened #117 "Master is three years old. Latest tag (3.0) is even older. Should I use them or develop to install something?"
![image](https://user-images.githubusercontent.com/318489/160148306-085e4078-1518-4b1d-a338-dde3abf371df.png)
**

[2022-03-25 16:31] FractalizeR opened #118 "Meteor requires Node v14.0.0 or later. Default installed is 12.16.1"
When I start RocketChat it says

Mar 25 19:29:05 rocketchat-ru-central1-a RocketChat[9071]: Meteor requires Node v14.0.0 or later.
Mar 25 19:29:05 rocketchat-ru-central1-a systemd[1]: rocketchat.service: Main process exited, code=exited, status=1/FAILURE
Mar 25 19:29:05 rocketchat-ru-central1-a systemd[1]: rocketchat.service: Failed with result 'exit-code'.
Mar 25 19:29:05 rocketchat-ru-central1-a

[2022-03-27 07:03] FractalizeR opened #119 "'YOUR CURRENT MONGODB VERSION (3.6.3) IS DEPRECATED' after installation"
My message logs show this message after I installed RocketChat with bundled Mongo

[2022-03-27 07:57] FractalizeR opened #120 "Nginx is configured to allow files under 1M only"
Option client_max_body_size is not included in Nginx configuration. So, despite max file size in RocketChat is 100MB, you can actually upload only those under 1M.

Need to add client_max_body_size into nginx.conf

[2022-04-08 14:33] patsevanton commented on #99
Same error

Install
[code]
Run
[code]

Playbook
[code]

Inventory
[code]

Version
[code]

Server where ansible
[code]

Remote server
[code]

[2022-06-15 11:12] gitofbabai commented on #120
Can I try to implement this change?